<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js Intro</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="myApp">
        <h1>Batman Quotes</h1>
        <input type="text" v-model="newQuote" placeholder="Enter" @keypress.enter="addQuote"><!-- se anexa el modificar del evento Enter -->
        <hr>

        <!-- v-for = "quote in quotes" -->
       <li v-for = "( {quote,author}, index ) in quotes"><!-- Aquí se emplea la desectructuracion -->
            <span>{{ index + 1 }} - {{quote}}</span>
            <blockquote v-if="author">-{{author}}</blockquote>
        </li>
    </div>
    <script src="./app.js"></script>
</body>
</html>